@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

.input {
  @apply py-2 px-3 bg-white border-2 border-gray-400 focus:border-accent focus:outline-none rounded;
}

/*! purgecss start ignore */
.prose {
  @apply text-base text-gray-700 max-w-full;

  .torchlight, pre, pre code {
    @apply font-code text-sm;
  }

  .torchlight {
    @apply bg-none;

    &.has-focus-lines {
      .line {
        font-size: 0.85rem;
        @apply filter blur-xxs;

        &:not() {
          text-shadow: none;
          font-size: inherit;
          @apply opacity-60;
        }

        &.line-focus {
          @apply blur-none;
        }
      }
    }

    .line-number {
      @apply pr-2;
    }
  }

  code {
    @apply text-accent;
  }

  a {
    @apply text-brand-dark font-bold underline hover:text-brand-dark-darken;

    &.heading-permalink {
      @apply hidden text-gray-200 absolute no-underline hover:underline hover:text-gray-300 transform -translate-x-full pr-2;
    }
  }

  h1, h2, h3, h4, h5, h6 {
    @apply font-bold relative;
  }

  img {
    @apply max-w-full shadow-lg;
  }

  tbody tr {
    border: none;
  }

  blockquote {
    @apply p-4 my-6 mx-0 text-gray-800 bg-gray-100 border-l-8 border-accent;

    p {
      @apply m-0 p-0;
    }
  }

  .table-of-contents {
    @apply mb-8 pb-4 border-b border-gray-300;

    &::before {
      content: 'Quick links';
      @apply font-bold text-gray-900;
    }

    li {
      @apply pl-5;

      p, ul {
        @apply m-0;
      }
    }

    a {
      @apply font-medium no-underline;
      &:hover {
        @apply underline;
      }
    }
  }
}

@media (min-width: 768px) {
  .prose {
    blockquote {
      @apply ml-10;
    }

    a.heading-permalink {
      @apply block;
    }
  }
}

html.dark {
  .prose {
    @apply text-brand-light;

    h1, h2, h3, h4, h5, h6 {
      @apply text-brand-light;
    }

    a {
      @apply text-brand-light hover:text-brand-light-darken;

      &.heading-permalink {
        @apply text-gray-600 hover:text-gray-700;
      }
    }

    code {
      @apply bg-brand-light px-1 py-0.5 rounded;

      &.torchlight {
        @apply bg-transparent;
      }
    }

    strong {
      @apply text-white;
    }

    blockquote {
      @apply bg-brand-dark-lighten text-brand-light;
    }

    .table-of-contents {
      @apply border-gray-700;

      &::before {
        @apply text-gray-100;
      }
    }
  }
}

/*! purgecss end ignore */
